.shopping-cart-container {
    position: absolute;
    top: 100px;
    right: 0;
    padding: 1em;
    background-color: #fff;
    z-index: 2;
    transform: scale(0);
    transform: translatey(-10px);
    opacity: 0;
    pointer-events: none;
}

.shopping-cart-container.open {
    -webkit-animation: fade-down 0.3s forwards;
    animation: fade-down 0.3s forwards;
    pointer-events: auto;
}

.shopping-cart-container {
    text-align: center;
    min-width: 300px;
}

.shopping-cart-container table {
    width: 100%;
    padding: 0.5em;
    padding-bottom: 2em;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 2.5em;
}

.shopping-cart-container table thead th {
    padding-bottom: 10px;
    border-bottom: 1px solid #ea332a;
}

.shopping-cart-container table tbody {
    padding-bottom: 4em;
}

.shopping-cart-container table tbody td {
    padding: 0.5em;
}