
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  background: #000000;
  transition: all 0.5s;
  z-index: 997;
  height: 90px;
  border-bottom: 1px solid #fff;
}

.btn-Iniciar {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #ffffff;
  border-radius: 30px;
  padding: 10px 20px;
  cursor: pointer;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar-toggler-icon{
  background-color: #fff;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s;
}


.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #f1e645;
}
